* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 152, 168);
}

.app-container{
    background-color: rgb(223, 196, 196);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app-container h1 {
    font-size: 25px;
    color: rgb(103, 17, 31);
    font-weight: 600;
    border-bottom: 1px solid rgb(128, 15, 0);
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: rgb(138, 24, 43);
    font-weight: 600;
}

.btn {
    background-color:rgb(210, 184, 189);
    color:rgb(239, 96, 96);
    font-weight: 500;
    width: 100%;
    border: 2px solid rgb(133, 9, 9);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background:rgb(186, 46, 70);
    color: white;
}

#next-btn{
    background:rgb(181, 40, 64);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}