* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.ibb.co/1Rqj2GM/Screenshot-2024-02-07-104553.png);
    background-repeat: repeat;
    background-size: cover;
}

.app-container{

    background-color: rgb(223, 196, 196);
    width: 90%;
    max-width: 600px;
    margin: 200px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app-container h1 {
    font-size: 30px;
    color: rgb(117, 32, 46);
    font-weight: 600;
    border-bottom: 1px solid rgb(128, 15, 0);
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: rgb(138, 24, 43);
    font-weight: 600;
    margin-bottom: 8px;
}

.btn {
    background-color:rgb(252, 250, 250);
    color:rgb(15, 12, 12);
    font-weight: 500;
    width: 100%;
    border: 2px solid rgb(133, 9, 9);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 17px;
}

.btn:hover:not([disabled]) {
    background:rgb(231, 183, 189);
    color: rgb(240, 237, 237);
}

.btn:disabled {
    cursor:no-drop;
}

#next-btn{
    background:rgb(181, 40, 64);
    color: white;
    font-weight: 500;
    width: 175px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 17px;
}


/* score board title */

/* score board  */
.score-board {
    background-color: rgb(223, 196, 196);
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-top: 55px;
    text-align: center;
}

.score-board h2 {
    font-size: 25px;
    color: rgb(138, 24, 43);
    font-weight: 600;
    margin-bottom: 20px;
}

.all-time-high-scores {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    gap: 0px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "player-names scores";
}
  
  
.player-names { 
    grid-area: player-names; 
}
  
.scores {
    grid-area: scores; 
}
  

ol, ul {
    list-style: none;
}

/* script js */

.correct {
    background: green;
}

.incorrect {
    background: red;
}